html {
    width: 100%;
    margin: 0 auto;
    background-color: var(--currColor);
    overflow: auto;
    overflow-x: hidden;
}

:root {
    --currColor: black;
    --nextColor: blue;
}

.hero-section {
    width: 100%;
    margin: 0 auto 100px;
    height: 700px;
    background-color: var(--currColor);
    position: absolute;
    top: 0;
    left: 0;
}


.hero-container {
    position: relative;
    margin: 0 auto;
    bottom: 3px;
    height: 70%;
    width: auto;
    
    text-align: center;
}
.hero-container img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    
}
main {
    margin: 700px auto 0;
    background-color: var(--currColor);
    
}
h1 {
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    color: var(--nextColor);
    text-decoration: bold;
    font-size: 100px;
    letter-spacing: 10px;
    padding-top:75px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 60px;
    z-index: 3;
}

nav {
    text-align: center;

    width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 7.5%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "left right";
}
nav .left {
    margin: 0 auto;
    display: inline-block;
    grid-area: left;
    align-items: center;

    width: 100%;
    height: 100%;
}
.colorButton {
    float: left;
    margin:0;
    text-align: center;

    width: 20%;
    height: auto;
    color: var(--nextColor);
    letter-spacing: 5px;
    font-size: 40px;
    font-style: italic;
    font-family: 'DM Serif Display', serif;
}
.F {
    position: relative;
    top: 10px;
}
nav .right {
    
    margin: 0 auto;
    grid-area: right;
    display: inline-block;
    align-items: center;
    width: 100%;

    height: 100%;
    text-align: center;
    
}
.right ul {
    

    margin: 0 auto;
    text-align: center;
    width: 100%;
    
    
    height: 100%;
    list-style-type: none;
}
.right ul li {
    
    float: right;
    list-style-type: none;
    text-decoration: none;
    margin: 40px auto;
    width: 10%;
    height: auto;
    display: inline-block;
    color: white;
    display: inline;
    
    font-size: 40px;
    font-family: 'DM Serif Display', serif;
}
#name {
    position: relative;
    bottom: 60px;
}

.right ul li a {
    
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}
body {
    margin: 0 auto;
    
}
.about-section {
    width: 100%;
    height: 900px;
    background-color: var(--currColor);
    font-family: 'DM Serif Display', serif;
    color: white;
    margin: 0 auto;
    text-align: center;
    position: absolute;

}
.about-image{ 
    width: 100%;
    height: 900px;
}
/*
.masked-overlay {
    width: 100%;
    display: inline-block;
    position: relative;
    background-color: pink;
    margin: 0 auto;
    text-align: center;
    height: 500px;
    z-index: 5;
    -webkit-mask-image: url('../images/IMG_1132.PNG');
    -webkit-mask-size: cover;
    mask-size: contain;
    mask-image: url('../images/IMG_1132.PNG');
}*/
.about-image::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 146.5%;
    bottom: -962px;
    left: 285px;
    background-color: var(--nextColor);
    opacity: 0.6;
    z-index: 3;
    -webkit-mask-image: url('../images/IMG_1132.PNG');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}
.about-image img {
    filter: grayscale(100%) contrast(450%);
    width: 100%;
    opacity: 0.5;
    position: relative;
    top: -400px;
    z-index: 2;
}
.about-middle {
    width: 70%;
    display: inline-block;
    background-color: var(--currColor);
    margin: 0 auto;
    text-align: center;

}

.about-container {
    color: white;
    font-family: 'DM Serif Display', serif;
    z-index: 2;
    
}
.about-container h3 {
    font-size: 70px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 5px;
    
}

.about-container p {
    position: relative;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 30px;
    margin: 100px auto;
    line-height: 65px;
    z-index: 4;
}

.contact-section {
    width: 100%;
    height: 400px;
    color: white;
    text-align: center;
    margin: 200px 15%;
    position: absolute;
    top: 1780px;
    z-index: 0;
    color: white;
    font-family: 'DM Serif Display', serif;
    width: 70%;
    z-index: 5;
    display: block;


}
.contact-section h3 {
    font-size: 70px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    z-index: 4;
}

.csubsection {
    width: 100%;

    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-self: center;
    z-index: 5;
    position: relative;
    left: -20px;
}

.contact-links {
    z-index: 4;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;

}
.contact-links li {
    text-align: center;
    margin: 20px auto;
    display: inline-block;
    width: 150px;
    height: 150px;

    list-style-type: none;
    
}
.contact-links li a {
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: white;

}

.c1 {
    -webkit-mask-image: url('../images/github-circle.svg');
    -webkit-mask-size: cover;
}

.c2 {
    -webkit-mask-image: url('../images/twitter-circle.svg');
    -webkit-mask-size: cover;
}

.c3 {
    -webkit-mask-image: url('../images/instagram-with-circle.svg');
    -webkit-mask-size: cover;
}
.chickenJoe {
    color: var(--nextColor);
    font-family: 'Original Surfer', sans-serif;
}
.surfsupbottom {
    background-color: white;
    height: 750px;
    width: 100%;
    z-index: 8;
    position: absolute;
    top: 2440px;
    left: 0;
    margin: 0 auto;
    text-align: center;
    border-top: 5px solid var(--nextColor);
}

footer {
    font-family: 'Original Surfer', sans-serif;
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: white;
    height: 30px;
    border: 3px solid black;
    line-height: 30px;
    letter-spacing: 3px;
}

footer span {
    font-size: 24px;
}

.cjimage {
    position: absolute;
    width: 45%;
    top: 0;
    left: 0;
    background-size: cover;
    background-image: url('../images/chickenjoe.png');
    height: 100%;
    border-top: 2px solid black;
}

.otherimages {
    border-top: 2px solid black;
    width: 55%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.otherimages ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.otherimages ul li {
    width: 40%;
    height: 100%;
    
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    margin: 0 auto;

}

.oi1 {
    background-image: url('../images/IMG_0213.jpg');
    background-size: cover;
}

.oi2 {
    background-image: url('../images/IMG_3637.jpg');
    background-size: cover;
    background-position-x: -280px;
}